@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scanDown {
  0% {
    transform: translateY(32px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(calc(100% - 32px));
    opacity: 0;
  }
}

.animate-scanDown {
  animation: scanDown 2.3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}